.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #1A1A1D; */
  background-image: linear-gradient(to right bottom,#000000,#555454);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.home {
  margin-top: 260px;
}

#home-title{
  text-shadow: #f2af29 4px 3px 10px;
}

a {
  color: white;
}

a:hover,
#arrow:hover {
  color: #f2af29;
}

#arrow:hover {
  animation: bounce 1.5s linear ;
}

#resume:hover {
  background-color: white;
}

#andre {
  height: 750px;
  border-radius: 25% 0 25% 0;
  filter: grayscale(100%);
}

@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}

#andre:hover{
  box-shadow: #f2af29 4px 10px 20px 10px;
  filter: grayscale(0%);
}

#about-title{
  text-decoration: underline #f2af29;
  text-shadow: #f2af29 4px 3px 10px;
}

.about-Me {
  display: flex;
  align-items: center;
}


#tech-list{
  list-style-type:">";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


#card-image{
  object-fit: scale-down;
  margin-top: 5px;
  background: #ededed;
}

#contact{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactHeader{
  margin-top: 65px;
}

#contactText{
  margin-top: 60px;
  
}

#contactBtn{
  margin-top: 40px;
  height: 90px;
  width: 190px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#contactBtn:hover{
  background-color: white;
  box-shadow: 0 0 35px white;;
}


@keyframes bounce{
  20%,50%,80%,to{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-30px);
  }
  70%{
    transform: translateY(-15px);
  }
  90%{
    transform: translateY(-4px);
  }
}