.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:url("https://cdn.pixabay.com/photo/2019/10/20/11/51/mountains-4563464_960_720.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.home {
  margin-top: 260px;
}

a{
  color: white;
}

a:hover{
  color: #F2AF29;
}

#andre{
  height: 700px;
  border-radius: 25% 0 25% 0;
float: right;
padding-bottom: 50px;
}

.about-Me{
  display: flex;
  align-items: center;
}

#about-Text{
  float: right;
  padding-right: 75px;
}

#arrow:hover{
  color: #F2AF29;
}